[submodule "themes/modPaperMod"]
	path = themes/modPaperMod
	url = https://github.com/minuq/hugo-PaperMod
[submodule "themes/hugo-PaperMod"]
	path = themes/hugo-PaperMod
	url = git@github.com:minuq/hugo-PaperMod.git
