[submodule "themes/PaperMod"]
	path = themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
[submodule "themes/modPaperMod"]
	path = themes/modPaperMod
	url = https://github.com/minuq/hugo-PaperMod
